## Test Area

In [1]:
import pandas as pd

In [2]:
departments = pd.read_csv('../raw_csv/departments.csv')
hired_employees = pd.read_csv('../raw_csv/hired_employees.csv')
jobs = pd.read_csv('../raw_csv/jobs.csv')

In [3]:
print(departments.head())

   1        Product Management
0  2                     Sales
1  3  Research and Development
2  4      Business Development
3  5               Engineering
4  6           Human Resources

In [4]:
print(hired_employees.head())

   1     Harold Vogt  2021-11-07T02:48:42Z     2    96
0  2        Ty Hofer  2021-05-30T05:43:46Z   8.0   NaN
1  3     Lyman Hadye  2021-09-01T23:27:38Z   5.0  52.0
2  4   Lotti Crowthe  2021-10-01T13:04:21Z  12.0  71.0
3  5  Gretna Lording  2021-10-10T22:22:17Z   6.0  80.0
4  6  Marlow Antecki  2021-04-23T23:45:42Z   6.0  95.0

In [5]:
print(jobs.head())

   1        Marketing Assistant
0  2                   VP Sales
1  3         Biostatistician IV
2  4  Account Representative II
3  5               VP Marketing
4  6   Environmental Specialist

### Testing SQLite

In [6]:
import sqlite3
from sqlite3 import Error

In [7]:
# Function to create a database connection
def create_connection(db_file):

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("Connected to test database.")
    except Error as e:
        print(e)
    return conn

# Function to create a table
def create_table(conn, create_table_sql):

    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

# Main function to set up the database
def main_db():
    database = "../db/test_77.db"  

    #Table creation query
    db_departments_table = """ CREATE TABLE IF NOT EXISTS departments (
                                        id INTEGER PRIMARY KEY,
                                        department TEXT
                                    ); """

    #Database conn
    conn = create_connection(database)

    if conn is not None:
        create_table(conn, db_departments_table)

        print("Table created successfully.")
    else:
        print("Error! cant connect to the db.")

    # Close the connection
    conn.close()

In [8]:
main_db()

Connected to test database.
Table created successfully.

In [1]:
import sqlite3

# Create a connection to the database (replace 'your_database.db' with the actual filename)
conn = sqlite3.connect('your_database.db')
c = conn.cursor()

# Define the SQL statement to create the table
create_table_sql = '''
CREATE TABLE department_job_hires (
    department TEXT,
    job TEXT,
    Q1 INTEGER,
    Q2 INTEGER,
    Q3 INTEGER,
    Q4 INTEGER
);
'''

# Execute the CREATE TABLE statement
c.execute(create_table_sql)

# Insert data into the table (assuming you have a cursor object 'c' pointing to the table)
# This part is not included since you don't want to insert data from an external source

# Commit the changes
conn.commit()

# Close the connection
conn.close()

print("Table created successfully!")

Table created successfully!